.header {
  margin-bottom: 20px;
  background: #fff;
}

.header-banner {
  @include font-size(20px);
  padding-top: 30px;
  color: #fff;
  text-align: center;
  background: $green-3;
  border-radius: $border-radius $border-radius 0 0;
  border-bottom: 10px solid $green-2;
}