.container {
  @extend %clearfix;
  width: 1000px;
  margin: 0 auto;
}

.main {
  @extend %wrapper-box;
  float: left;
  width: 600px;
}

.aside {
  @extend %wrapper-box;
  float: right;
  width: 380px;
  margin-left: 20px;
}